{% extends 'base.html' %}
{% block content %}

<div class="main_wrapper">
    <div class="tab_container">
        <div class="tab_wrapper">
            <div class="tab">
                <a href="{% url 'archive:movie_index' %}">영화</a>
            </div>
            <div class="tab active_tab">
                <a href="{% url 'archive:book_index' %}">책</a>
            </div>
        </div>
        <div class="search_box">
            <input type="text" id="search_query" value="{{ query|default_if_none:'' }}" placeholder="책 검색">
            <div class="search_button">
                <button type="button" id="search_button"></button>
            </div>
        </div>
        <div class="create_button">
            <a href="{% url 'archive:book_create' %}">글 추가</a>
        </div>
    </div>
    
    <div class="list_wrapper">
        <div class="sort_wrapper">
            <a class="sort_option" data-sort="create_date" href="javascript:void(0)">날짜 순</a>
            <a class="sort_option" data-sort="-create_date" href="javascript:void(0)">최신 순</a>
            <a class="sort_option" data-sort="title" href="javascript:void(0)">가나다 순</a>
        </div>
        {% if book_list %}
            <ul>
            {% for book in book_list %}
                <li>
                    <div class="content_wrapper">
                        <a href="{% url 'archive:book_detail' book.id %}">
                            {% if book.thumbnail %}
                                <img src="{{ book.thumbnail.url }}" alt="{{ book.title }}">
                            {% else %}
                                <img src="/media/archive/book/book_default_thumbnail.png" alt="book thumbnail">
                            {% endif %}
                        </a>
                        <div class="content_title">{{ book.title }}</div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>책이 없습니다.</p>
        {% endif %}
    </div>
    
    <!-- 페이징처리 시작 -->
    <ul class="pagenation">
        {% if book_list.has_previous %}
        <li class="page_item">
            <a class="page_link" data-page="{{ book_list.previous_page_number }}" href="javascript:void(0)">이전</a>
        </li>
        {% else %}
        <li class="page_item">
            <a class="page_link" aria-disabled="true" href="javascript:void(0)">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in book_list.paginator.page_range %}
        {% if page_number >= book_list.number|add:-5 and page_number <= book_list.number|add:5 %}
        {% if page_number == book_list.number %}
        <li class="page_item current_page">
            <a class="page_link" data-page="{{ page_number }}" href="javascript:void(0)">{{page_number}}</a>
        </li>
        {% else %}
        <li class="page_item">
            <a class="page_link" data-page="{{ page_number }}" href="javascript:void(0)">{{page_number}}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if book_list.has_next %}
        <li class="page_item">
            <a class="page_link" data-page="{{ book_list.next_page_number }}" href="javascript:void(0)">다음</a>
        </li>
        {% else %}
        <li class="page_item">
            <a class="page_link" aria-disabled="true" href="javascript:void(0)">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
</div>
<form id="searchForm" method="get" action="{% url 'archive:book_index' %}">
    <input type="hidden" id="query" name="query" value="{{ query|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="sort" name="sort" value="{{ sort }}">
</form>
{% endblock %}

{% block script %}
<script type="text/javascript">
    const page_elements = document.getElementsByClassName("page_link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const search_button = document.getElementById("search_button");
    search_button.addEventListener('click', function() {
        document.getElementById('query').value = document.getElementById('search_query').value;
        document.getElementById('page').value = 1;
        document.getElementById('searchForm').submit();
    });
    const sort_options = document.getElementsByClassName("sort_option");
    Array.from(sort_options).forEach(function(element) {
        if (element.dataset.sort == document.getElementById('sort').value) {
            element.className += ' current_option';
        }
        element.addEventListener('click', function() {
            document.getElementById('sort').value = this.dataset.sort;
            document.getElementById('searchForm').submit();
        });
    });
</script>

{% endblock %}