{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h5>책등록</h5>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div>
            <label for="title">제목</label>
            <input type="text" name="title" id="title" value="{{ form.title.value|default_if_none:'' }}">
        </div>
        <div>
            <label for="author">작가</label>
            <input type="text" name="author" id="author" vlaue="{{ form.author.value|default_if_none:'' }}">
        </div>
        <div>
            <label for="content">내용</label>
            <textarea name="content" id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <div>
            <label for="thumbnail">대표 이미지</label>
            <input type="file" name="thumbnail" id="thumbnail">
        </div>
        <button type="submit">저장하기</button>
    </form>
</div>

{% endblock %}