{% extends 'base.html' %}
{% block content %}

<h1>{{ question.subject }}</h1>
<div>
    {{ question.content }}
</div>

<h5>{{ question.answer_set.count }}개의 답변이 있습니다.</h5>
<div>
    <ul>
    {% for answer in question.answer_set.all %}
        <li>{{ answer.content }}</li>
    {% endfor %}
    </ul>
</div>

<form action="{% url 'archive:answer_create' question.id %}" method="post">
    {% csrf_token %}
    <!-- 오류표시 Start -->
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field in form %}
        {% if field.errors %}
        <div>
            <strong>{{ field.label }}</strong>
            {{ field.errors }}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <!-- 오류표시 End -->
    <textarea name="content" id="content" rows="10"></textarea>
    <input type="submit" value="답변등록">
</form>

{% endblock %}