{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h5>질문등록</h5>
    <form method="post">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div>
            <label for="subject">제목</label>
            <input type="text" name="subject" id="subject" value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        <div>
            <label for="content">내용</label>
            <textarea name="content" id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <button type="submit">저장하기</button>
    </form>
</div>

{% endblock %}