{% extends 'base.html' %}
{% block content %}

<div class="login_wrapper">
    <form action="{% url 'common:login' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% include "form_errors.html" %}
        <div>
            <input type="text" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}" placeholder="사용자 ID">
        </div>
        <div>
            <input type="password" name="password" id="password" value="{{ form.password.value|default_if_none:'' }}" placeholder="비밀번호">
        </div>
        <button type="submit">로그인</button>
    </form>
</div>

{% endblock %}