html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
}
body {
    overflow-y: scroll;
}
textarea {
    width: 100%;
}

input[type=submit] {
    margin-top: 10px;
}

a {
    color: black;
    text-decoration: none;
}
/* header.html */

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding-top: 180px;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'Orbit';
}

.home a {
    font-size: 40pt;
}

.login_box {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: auto;
}
.login_box>a {
    font-size: 20px;
    margin-left: 10px;
}

/* header.html */


/* movie_list.html, book_list.html */

.container {
    width: 1220px;
    height: 100%;
    margin: 0 auto;
    background-color: azure;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    box-sizing: border-box;
}


.tab_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-top: 90px;
    font-family: 'Nanum Gothic', sans-serif;
}

.tab_wrapper {
    display: flex;
}

.tab {
    width: 75px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 3px;
}

.active_tab {
    border-bottom: 2px solid black;
}

.tab a {
    font-size: 30px;
}

.create_button {
    margin-right: 5px;
}

.create_button a {
    font-size: 20pt;
}

.list_wrapper {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.list_wrapper ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.content_wrapper {
    width: 220px;
    height: auto;
    margin: 10px 10px;
}
.content_wrapper:hover {
    transform: scale(1.1);
}

.content_wrapper img {
    width: 220px;
    height: 309px;
    border-radius: 10px;
    object-fit: cover;
}

.content_title {
    text-align: center;
    font-size: 24px;
    font-family: 'Orbit', sans-serif;
}

.pagenation {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
    width: auto;
}

.page_item {
    width: 40px;
    height: 30px;
    font-size: 18px;;
    text-align: center;
    border-radius: 5px;
}

.current_page {
    background-color: cadetblue;
    border-radius: 5px;
}
.current_page a {
    color: white;
}
/* movie_list.html, book_list.html */


/* movie_detail.html, book_detail.html */

.main_wrapper {
    width: 1200px;
    height: auto;
    background-color: azure;
}

.detail_header {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
    height: auto;
    min-height: 100px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 40pt;
}

.data_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.article_data {
    display: flex;
    margin-left: 10px;
}
.article_data .author {
    padding-right: 8px;
    border-right: 1px solid rgba(0, 0, 0, 0.267);
    margin-right: 10px;
}

.modify_area {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.modify_date {
    color: rgb(192, 192, 192)
}

.modify_buttons {
    display: flex;
    justify-content: flex-end;
}
.modify_buttons a {
    margin: 0px 3px;
    color: rgb(192, 192, 192)
}

.content_area {
    display: flex;
}
.content_area img{
    width: 297px;
    height: 420px;
    object-fit: contain;
}
.content_area .thumbnail {
    margin-right: 30px;
}

.text_area {
    font-family: 'Nanum Gothic', sans-serif;
}